{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Soletread{% endblock %}</title>
    

    <link rel="stylesheet" href="{% static 'Soletread/base.css' %}">
    
    {% block extra_css %}
    {% endblock %}
</head>
<body>
   
    <nav>
        <h1>Soletread</h1>
        <p>Sneaker Marketplace</p>
    </nav>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2026 Soletread. All rights reserved.</p>
    </footer>
    
    {% block extra_js %}
    {% endblock %}
</body>
</html>